    <hr>
    <footer class="text-center mt-3">
              <!-- Grid container -->
     
        <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating border rounded-pill btn-lg text-body m-1"
            href="https://www.twitch.tv/yunayuispink"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitch"></i
          ></a>

          <!-- Twitter -->
          <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating border rounded-pill btn-lg text-body m-1"
            href="https://twitter.com/yunayuispink"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
          ></a>

          <a
          data-mdb-ripple-init
          href="https://discord.gg/yunayuispink"
            class="btn btn-link btn-floating border rounded-pill btn-lg text-body m-1"
            role="button"
            data-mdb-ripple-color="dark"
          >
            <i class="fab fa-discord"></i>
          </a>


          <!-- Instagram -->
          <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating border rounded-pill btn-lg text-body m-1"
            href="https://www.instagram.com/yunayuispink"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>
          <!-- Github -->
          <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating border rounded-pill btn-lg text-body m-1"
            href="https://github.com/MFathinHalim/Yunation"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>

      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3">
        <a class="text-black text-decoration-none" href="/about">Made by Yunation</a>
      </div>
      <!-- Copyright -->
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>AOS.init();</script>
    <script>
  const imageFile = document.getElementById("imageFile");
  const imagePreview = document.getElementById("image-preview");

  imageFile.addEventListener("change", function (e) {
    const file = e.target.files[0];

    if (!file) {
      return;
    }

    const reader = new FileReader();
    reader.onload = (event) => {
      imagePreview.src = event.target.result;
    };
    reader.readAsDataURL(file);
  });

  var isLoggedIn = localStorage.getItem('isLoggedIn');
  const addButton = document.getElementById("add");
  addButton.addEventListener("click", ((event) => {
    if(isLoggedIn !== "true") {
      Swal.fire({
      icon: "info",
      title: "Oops...",
      text: "You Need To Login, otherwise it's doesn't work :' ",
      footer: '<a href="/YunayuSNS/login" class="btn btn-primary rounded">Login</a>'
      });
    }
  }));
  if(isLoggedIn !== "true") {
    const anchor = document.createElement('a'); // Create an anchor element
    anchor.href = "/YunayuSNS/login"; // Set the href attribute (link destination)
    anchor.classList.add('btn', 'btn-primary', 'rounded-pill'); // Add desired CSS classes
    anchor.textContent = "Login"; // Set the text content displayed on the link

    // Append the anchor element to the desired container in your HTML:
    const container = document.getElementById('sns'); // Replace with your container's ID
    container.appendChild(anchor);

  }else {
      const anchor = document.createElement('a'); // Create an anchor element
      anchor.href = "/logout"; // Set the href attribute (link destination)
      anchor.classList.add('btn', 'btn-danger', 'rounded-pill'); // Add desired CSS classes
      anchor.textContent = "Logout ?"; // Set the text content displayed on the link

      const div = document.createElement('div'); // Create an anchor element
      div.classList.add('d-grid', 'gap-2', 'd-sm-flex', 'justify-content-sm-center'); // Add desired CSS classes
      // Append the anchor element to the desired container in your HTML:
      const container = document.getElementById('sns'); // Replace with your container's ID
      
      const anchor2 = document.createElement('h2'); // Create an anchor element
      anchor2.textContent = `Welcome, @${localStorage.getItem("username")} •ᴗ•`; // Set the text content displayed on the link
      
      const anchor3 = document.createElement('a'); // Create an anchor element
      anchor3.classList.add('btn', 'btn-primary', 'rounded-pill'); // Add desired CSS classes
      anchor3.textContent = "Add Image"; // Set the text content displayed on the link
      anchor3.setAttribute('data-bs-toggle', 'modal');
      anchor3.setAttribute('data-bs-target', '#uploadModal');

      container.appendChild(anchor2);
      container.appendChild(div)
      div.appendChild(anchor3);
      div.appendChild(anchor);
  }
  function onSubmit(token) {
    // Handle form submission or any other action you want after reCAPTCHA is verified
  if(isLoggedIn === "true") {
    document.getElementById("myForm").submit();
  }else {
    Swal.fire({
      icon: "info",
      title: "Oops...",
      text: "You Need To Login!",
      footer: '<a href="/YunayuSNS/login" class="btn btn-primary rounded">Login</a>'
    });
  }
  }
</script>
</body>
</html>