:root {
  --background: #f8f8f8;
  --text: #030303;
  --primary: #e493b3;
  --secondary: #465845;
  --accent: #ffcacc;
}
body {
  background-color: var(--background) !important;
  color: var(--text) !important;
}
.bg-white {
  background-color: var(--background) !important;
  color: var(--text) !important;
}
.btn-primary {
  background-color: var(--primary) !important;
  border: var(--primary) !important;
  transition: background-color 0.2s;
}
.bg-primary {
  background-color: var(--primary) !important;
  border: var(--primary) !important;
}
.btn-secondary {
  background-color: var(--secondary) !important;
}
.highlight {
  text-shadow: 2px 2px var(--primary);
}
.active {
  font-weight: bolder !important;
}

img {
  border-radius: 12px;
  border: 2px dotted var(--primary) !important;
}
.btn {
  transition: transform 0.2s; /* Animation */
}

.btn-primary:hover,
.btn-link:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  margin-left: 10px;
  margin-right: 10px;
}
.btn-link:hover {
  background-color: var(--secondary);
  color: white !important;
}
.btn-primary:hover {
  background-color: #bc7994 !important;
}

.glass {
  background: rgba(122, 74, 122, 0.21) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5.8px) !important;
  -webkit-backdrop-filter: blur(5.8px) !important;
}
